{% extends "base.html" %}
{% block title %}We Eat Happy Food{% endblock %}

{% block content %}
        <div class="content">
            <h6>Recent posts...</h6>

            {% for post in posts %}
            <div class="post">
                <div class="post-title">
                    <a href="/posts/{{ post["url_slug"] }}"><h4>{{ post["title"] }}</h4></a>
                    <div class="post-date">{{ post["time_created"] }}</div>
                </div>
                {{ post["body"]|safe }}
            </div>
            {% endfor %}
        </div>
{% endblock %}