body{
    background-color:#f6eeed;
    color: #4f4e4e;
    display: block;
}

.header{
    font-family: "futura";
    padding: 6rem 20rem 3rem 22rem;
    letter-spacing: normal;
    word-spacing: normal;

}

/* changing header font */
.header h1{
    /* background-color:#efefee; */

    font-size: 28.6px;
    text-align: left;
    justify-content: left;
    display: inline;

}

/* changing navigation bar style */
.nav{
    text-align: right;
    font-size: 18px;
    display: inline-flex;
    float: right;


    /* center nav links */
    text-align: right;
    justify-content: right;
}

.nav a{
    color: #4f4e4e;
}

/* spacing the nav bar */
.nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* adding hover on nav link */
.nav a:hover{
    background-color: #f0c4bf;
    /* adding hovering hand */
    cursor: pointer;
}

/* style the current selected page */
.nav a.active{
    background-color: #f1eab8;
}

/* style recipes category nav bar */
.category-nav {
    text-align: center;
    font-size: 15px;

    /* center nav links */
    display: flex;
    justify-content: center;
}

.category-nav a{
    color: #4f4e4e;
    letter-spacing: 2px;
}

.category-link{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: block;
    padding: .5rem 1rem;

}

.category-nav a.active{
    background-color: #f1eab8;

}

.content{
    /* background-color:#f6eeed; */
    padding: 2rem 22rem 7rem 22rem;
}

.content h6{
    color:#93918f;
    margin-top: 1rem;
}

.post{
    margin-top:1rem;
    margin-bottom:3rem;
    background-color:#fbf8fb;
    padding:2rem;
    /* border-top: 0.4rem solid #f5d0b5;*/
  
}

.post-title{
    margin-bottom:1.5rem;
    font-family: "futura";
    font-weight: 400;
}

.post-title a{
    color:#4f4e4e;
}

.post-title h4{
    margin-bottom:1rem;
}

.post-date{
    font-size:12px;
    font-family: 'Poppins', sans-serif;
}

.post p{
    line-height:35px;
    font-size:15px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}